p {
  font-size: 16px;
  padding: 2px;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

li {
  text-align: left;
  line-height: 70%;
  padding: 3px;
  margin: 5px;
  background: #ffffff
}

h5 {
  text-align: center;
}

button.change-devoured {
  height: 30px;
  position: relative;
  float: right;
  margin-right: 2px;
}